@media (min-width: 1200px){
    .layout-menu-collapsed:not(.layout-menu-offcanvas):not(.layout-menu-fixed-offcanvas) .layout-content-navbar .layout-menu {
        z-index: 1085 !important;
    }
    }
    @media (min-width: 1200px){
    .bg-menu-theme.menu-vertical {
        box-shadow: 0 0.125rem 0.375rem 0 rgb(161 172 184 / 12%);
    }
    }
    .layout-menu-hover .layout-menu {
      transition: all .3s ease-in-out;
    }
    @media (min-width: 1200px){
    .layout-menu-fixed .layout-menu, .layout-menu-fixed-offcanvas .layout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    }
    .bg-menu-theme {
      background-color: #fff !important;
      color: #697a8d;
    }
    .layout-menu {
      flex: 1 0 auto;
    }
    .layout-page, .content-wrapper, .content-wrapper>*, .layout-menu {
      min-height: 1px;
    
    }
    .menu-vertical, .menu-vertical .menu-block, .menu-vertical .menu-inner>.menu-item, .menu-vertical .menu-inner>.menu-header {
      width: 16.25rem;
    
    }
    .menu-vertical {
        flex-direction: column;
    }
    .menus {
        display: flex;
    }


    .menu .app-brand.demo {
        height: 64px;

        margin-top: 12px;
    }
    
    .menu-vertical .app-brand {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .menu .app-brand {
        width: 100%;
    }
    .app-brand {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
        line-height: 1;
        min-height: 1px;
        align-items: center;
    }
   

    .app-brand-link {
        display: flex;
        align-items: center;
    }
    a {
        color: #696cff;
    }
    a {
        color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
        text-decoration: none;
    }
    *, *::before, *::after {
        box-sizing: border-box;
    }
    .app-brand-logo {
        display: block;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
        min-height: 1px;

    }

    html:not([dir=rtl]) .ms-2 {
        margin-left: 0.5rem !important;
   
    }
    
    .bg-menu-theme .menu-text {
        color: #566a7f;
    }
    .app-brand-text.demo {
        font-size: 1.75rem;
        letter-spacing: -0.5px;
        text-transform: lowercase;
    }
    .app-brand-text {
        flex-shrink: 0;
        opacity: 1;
        transition: opacity .15s ease-in-out;
    }
    .fw-bold {
        font-weight: 700 !important;
    }

  

.menu:not(.menu-no-animation) .menu-link {
    transition-duration: .3s;
    transition-property: color,background-color,left;
}
html:not([dir=rtl]) .ms-auto {
    margin-left: auto !important;
}
.app-brand .layout-menu-toggle {
    background-color: #696cff;
    border: 7px  solid #f5f5f9;

}
.bg-menu-theme .menu-link, .bg-menu-theme .menu-horizontal-prev, .bg-menu-theme .menu-horizontal-next {
    color: #697a8d;
}
.app-brand .layout-menu-toggle {
    position: absolute;
    left: 15rem;
    border-radius: 50%;
    opacity: 1;
}
.menu-link {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    margin: 0;
}


.menu:not(.menu-no-animation) .menu-link>:not(.menu-icon) {
    transition: opacity .3s ease-in-out;
}
html:not([dir=rtl]) .layout-menu-toggle i {
    transform: rotate(
0deg) !important;
}
.app-brand .layout-menu-toggle i {
    color: #fff;
}
.app-brand .layout-menu-toggle i {
    width: 1.5rem;

    height: 1.5rem;

    transition: all .3s ease-in-out;
    line-height: 1.05;
}
.menu-link>:not(.menu-icon) {
    flex: 0 1 auto;
    opacity: 1;
}
.layout-menu-toggle i {
    transition-duration: .3s !important;
    transition-property: transform !important;
}
.align-middle {
    vertical-align: middle !important;
}
.bx {
    vertical-align: middle;
    font-size: 1.15rem;
    line-height: 1;
}
.bx-sm {
    font-size: 1.55rem !important;
}
.bx {
    font-family: "boxicons" !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menu-vertical .menu-inner>.menu-item {
    margin: 0.0625
rem
 0;
}

.menu-vertical, .menu-vertical .menu-block, .menu-vertical .menu-inner>.menu-item, .menu-vertical .menu-inner>.menu-header {
    width: 16.25rem;
}
.menu-vertical .menu-item {
    position: relative;
}
.menu-item, .menu-header, .menu-divider, .menu-block {
    flex: 0 0 auto;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-item {
    align-items: flex-start;
    justify-content: flex-start;
}
*, *::before, *::after {
    box-sizing: border-box;
}
li {
    display: list-item;
    text-align: -webkit-match-parent
}
.layout-wrapper:not(.layout-horizontal) .bg-menu-theme .menu-inner>.menu-item.active:before {
    content: "";
    position: absolute;
    right: 0;
    width: 0.25rem;
    height: 2.6845rem;
    border-radius: 0.375rem 0 0 0.375rem;
   
}

.bg-menu-theme .menu-inner>.menu-item.active:before {
    background: #696cff;
}

html:not(.layout-menu-collapsed) .bg-menu-theme .menu-inner .menu-item.open>.menu-link, .layout-menu-hover.layout-menu-collapsed .bg-menu-theme .menu-inner .menu-item.open>.menu-link, html:not(.layout-menu-collapsed) .bg-menu-theme .menu-inner .menu-item .menu-link:not(.active):hover, .layout-menu-hover.layout-menu-collapsed .bg-menu-theme .menu-inner .menu-item .menu-link:not(.active):hover {
    background-color: rgba(67,89,113,.04);
}
.layout-wrapper:not(.layout-horizontal) .bg-menu-theme .menu-inner .menu-item .menu-link {
    border-radius: 0.375
rem
;
}
.bg-menu-theme .menu-inner>.menu-item.active>.menu-link {
    color: #696cff !important;
    background-color: rgba(105,108,255,.16) !important;
}
.bg-menu-theme .menu-item.open:not(.menu-item-closing)>.menu-toggle, .bg-menu-theme .menu-item.active>.menu-link {
    color: #566a7f;
}
.menu-vertical .menu-inner>.menu-item .menu-link {
    margin: 0rem 1rem;

}
.menu-vertical .menu-item .menu-toggle {
    padding-right: calc(1rem + 1.26em);

}
.menu-vertical .menu-item .menu-link {
    font-size: .9375rem;
}
.menu-vertical .menu-item .menu-link, .menu-vertical .menu-block {
    padding: 0.625rem 1rem;

}
.menu:not(.menu-no-animation) .menu-link {
    transition-duration: .3s;
    transition-property: color,background-color,left;
}
.bg-menu-theme .menu-link, .bg-menu-theme .menu-horizontal-prev, .bg-menu-theme .menu-horizontal-next {
    color: #697a8d;
}
.menu-link {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    margin: 0;
}

.menu-item.open>.menu-sub {
    display: flex;
}

.menu:not(.menu-no-animation) .menu-sub {
    transition: background-color .3s;
}
.menu-vertical .menu-sub {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}
.menu-sub {
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.layout-wrapper:not(.layout-horizontal) .bg-menu-theme .menu-inner .menu-item .menu-link {
    border-radius: 0.375rem;

}
.menu-vertical .menu-inner>.menu-item .menu-link {
    margin: 0rem 1rem;

}
.menu-vertical .menu-sub .menu-link {
    padding-left: 3rem;

}
.menu-vertical .menu-sub .menu-link {
    padding-top: 0.625rem;

    padding-bottom: 0.625rem;

}

.bg-menu-theme .menu-sub>.menu-item>.menu-link:before {
    background-color: #b4bdc6 !important;
}
.bg-menu-theme .menu-sub>.menu-item>.menu-link:before {
    content: "";
    position: absolute;
    left: 1.4375rem;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
}
.bx-chevron-left:before {
    content: "î©";
}


@media (min-width: 1200px){
.layout-menu-collapsed:not(.layout-menu-offcanvas):not(.layout-menu-fixed-offcanvas) .layout-content-navbar .layout-menu {
    z-index: 1085 !important;
}
}

.menu-vertical .menu-inner {
    flex-direction: column;
    flex: 1 1 auto;
}

.menu-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 100%;
}
.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;

}
.ps {
    position: relative;
}
.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}
.menu-vertical .menu-item .menu-toggle::after {
    right: 1rem;
}
.menu:not(.menu-no-animation) .menu-toggle::after {
    transition-duration: .3s;
    transition-property: -webkit-transform,transform;
}
.menu-item.open:not(.menu-item-closing)>.menu-toggle::after {
    transform: translateY(-50%) rotate(135deg);

}
.menu-toggle::after {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    width: 0.42em;
    height: 0.42em;
    border: 1px solid;
    border-bottom: 0;
    border-left: 0;
    transform: translateY(-50%) rotate(45deg);
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family) !important;
    font-size: var(--bs-body-font-size) !important;
    font-weight: var(--bs-body-font-weight) !important;
    line-height: var(--bs-body-line-height) !important;
    color: var(--bs-body-color) !important;
    text-align: var(--bs-body-text-align)!important;
    background-color: var(--bs-body-bg) !important;
    -webkit-text-size-adjust: 100% !important;
    -webkit-tap-highlight-color: rgba(67, 89, 113, 0) !important;
}